.coaching__slider {
  margin: 30px 0;

  p {
    font-size: 1.1rem;
  }

  li {
    font-size: 1.1rem;
    clear: left;
    padding: 0.5rem 0;
  }

  .glide__slide  {
    ul, ol, ul.arrows {
      padding: 0;
      @media (min-width: $mobile) {
        padding: 0 3rem;
      }
    }

    .button {
      background-color: var(--tarif-button-background-color);
      text-transform: uppercase;
    }
  }

  @media (max-width: $mobile) {
    position: relative;
    left: calc(-50vw + 50%);
    width: 100vw;

    h2 {
      font-size: 1.4rem;
    }

    p {
      font-size: 1rem;
      margin-bottom: 10px;
    }

    li {
      font-size: 1rem;
    }
    ul.check {
      padding: 0 !important;
    }
    ul.check>li {
      padding: 0.5rem 0 !important;
    }
  }


  .coaching__slider__slide {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .coaching__slider__content {
    background-color: white;
    border: 1px solid var(--border-alt-color);
    border-radius: 10px;
    text-align: center;
    width: 400px;
    margin-top: 100px;
    padding: 100px 20px 20px;

    position: relative;

    @media (max-width: $mobile) {
      width: 350px;
      margin-top: 50px;
      padding: 60px 20px 20px;
    }
  }

  .coaching-slider__slide__image {
    border-radius: 50%;
    overflow: hidden;
    width: 150px;
    height: 150px;
    position: absolute;
    top: -75px;
    left: calc(50% - 75px);
    border: 2px solid var(--border-alt-color);

    @media (max-width: $mobile) {
      width: 100px;
      height: 100px;
      top: -50px;
      left: calc(50% - 50px);
    }
  }

  .glide__arrow {
    font-size: 60px;

    @media (max-width: $mobile) {
      font-size: 40px;
    }
  }

}