
.tarifs-container {
  max-width: 800px;
  margin-top: 50px;

  h1 {
    text-align: center;
    font-size: 3rem;
    margin-top: 30px;
    margin-bottom: 50px;
  }

  h2 {
    margin-bottom: 20px;
    text-align: center;
  }
}

.coaching__intro {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  @media (max-width: $mobile) {
    flex-direction: column;
  }

  p {
    margin-bottom: 0;
  }

  .coaching-intro__avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @media (min-width: $mobile) {
      flex-basis: 450px;
    }

  }

  .coaching-intro__text {
    color: var(--text-alt-color);
    text-align: center;
  }

  h1 {
    font-size: 1.2rem;
    margin: 5px 0 0;
    text-align: center;
    font-weight: normal;
  }

  img {
    border-radius: 50%;
    margin: 0 auto !important;
  }
}

.tarifs {
  margin-top: 20px;
  margin-bottom: 60px;
}

.tarifs__inner {
  display: flex;
  justify-content: space-evenly;
  margin: 20px 0;

  @media (min-width: $mobile) {
    width: 70vw;
    position: relative;
    left: calc(-35vw + 50%);
  }

}

.tarif .items {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  text-align: left;
  gap: 12px;
  .tarif__item {
    display: grid;
    grid-template-columns: 15% 90%;
    font-size: 1rem;
    ion-icon {
      text-align: left;
      align-self: center;

    }
  }
}

.tarif {
  flex: 1 1 0;
  border: 1px solid var(--border-alt-color);
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 5px;
}
.tarif h3 {
  color: var(--tarif-button-background-color);
  margin: 0;
  text-transform: uppercase;
  margin-bottom: 20px;
  min-height: 65px;
}

.tarif .price {
  font-size: 1.2em;
  margin: 10px 0;
}

.rendez-vous {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
  a.button {
    text-transform: uppercase;
    border-radius: 10px;
    border: 1px solid var(--tarif-button-background-color);
    color: var(--text-color);
    background-color: #fff;

    &:hover {
      border: 1px solid var(--tarif-button-background-hover);
      background-color: var(--tarif-button-background-color);
      color: var(--button-color);
    }
  }

}

/* Mettre en forme les modalités de paiement et les politiques d'annulation */
.modalites {
  font-size: 1rem;
  padding: 10px;
}
.modalites h2 {
  font-size: 1.2rem;
  text-align: center;
}
.modalite p {
}

/* Mettre en forme le document pour qu'il soit responsive */
@media (max-width: $mobile) {
  .tarifs__inner {
    flex-direction: column;
  }
  .tarif {
    margin-bottom: 20px;
  }
}
/* Ajouter un peu de design */

.tarif {
  min-width: 250px;
  max-width: 350px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border-radius: 10px;
  .select a.button {
    text-transform: uppercase;
    border-radius: 10px;
    background-color:var(--tarif-button-background-color);
    color: var(--button-color);
    font-size: 13px;
    &:hover {
      background-color: var(--tarif-button-background-hover);
    }
  }
}
.modalites {
  @media (max-width: $mobile) {
    text-align: center;
  }
}